 
<!doctype html>
{%load static%}
<html lang="en">
    <head>
        <title>Sign Up and Registeration</title>
        <!--External CSS Link-->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
        <link rel="stylesheet" href="{%static 'css/register.css'%}">
        <link rel="stylesheet" href="{%static 'css/overwrite.css'%}">
        <link rel="stylesheet" href="{%static 'css/button.css'%}">
    </head>
    <body>
        <div id="details_box">
        <div id="header" style="background-image:url(../static/images/home_background.jpg);">
            <i>Blackboard</i>
                </div>
        <div id="container">
                <h2>Please provide the following details to register:</h2>
                <form action="register" id="stud_deet" method="post">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="neon-button">Register</button>
                    <p>Already have an account? Login <a href="login"> here</a>
                </form>
            </div>
        </div>
    </body>
</html>
